[submodule "exploration/keras/deep-learning-keras-tensorflow"]
	path = exploration/keras/deep-learning-keras-tensorflow
	url = https://github.com/leriomaggio/deep-learning-keras-tensorflow
	branch = master
[submodule "exploration/ml/machine-learning"]
	path = exploration/ml/machine-learning
	url = https://github.com/udacity/machine-learning
	branch = master
[submodule "exploration/maths/staistics/thinkstats2/ThinkStats2"]
	path = exploration/maths/staistics/thinkstats2/ThinkStats2
	url = https://github.com/AllenDowney/ThinkStats2
	branch = master
[submodule "exploration/maths/linear_algebra/MIT_OCW_Linear_Algebra_18_06"]
	path = exploration/maths/linear_algebra/MIT_OCW_Linear_Algebra_18_06
	url = https://github.com/juanklopper/MIT_OCW_Linear_Algebra_18_06
	branch = master
[submodule "exploration/maths/calculus/Differential-Equations"]
	path = exploration/maths/calculus/Differential-Equations
	url = https://github.com/juanklopper/Differential-Equations
	branch = master
[submodule "exploration/cookbooks/tensorflow_cookbook"]
	path = exploration/cookbooks/tensorflow_cookbook
	url = https://github.com/nfmcclure/tensorflow_cookbook
	branch = master
[submodule "exploration/cookbooks/pandas-cookbook"]
	path = exploration/cookbooks/pandas-cookbook
	url = https://github.com/jvns/pandas-cookbook
	branch = master
[submodule "exploration/jupyter/data-science-ipython-notebooks"]
	path = exploration/jupyter/data-science-ipython-notebooks
	url = https://github.com/donnemartin/data-science-ipython-notebooks
	branch = master
